ul {
    list-style-type: none;
}

#nav-title {
    font-family: 'Fredoka One';
}

.banner-title, .footer-description{
    font-family: 'Righteous';
}

.banner-description {
    font-family: 'Teko', sans-serif;
}

.mainpage-section h2 {
    font-family: 'Righteous';
}

.mainpage-section p {
    font-family: 'Teko', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
}

a:link {
    text-decoration: none;
}
    
a:visited {
    text-decoration: none;
}
    
a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

nav {
    z-index: 3;
    padding: 10px 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    transform: translateY(0);
    transition: all 0.4s ease-out;

    font-size: 24px;

    display: flex;
    flex-wrap: wrap;
}

.fa-paw {
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 6px;
}
.DogeLogo {
    color: #444444;
    /* width: 20%; */
    display: flex;
    flex-wrap: wrap;
    transition: all 0.2s ease-out;
}

.DogeLogo:hover {
    font-size: 24.5px;
    color: #dec48a;
}

/* #nav-spacing {
    width: 80%;
    margin-left: 10px;
} */

#navbar {
    margin: 0;
    padding: 0;
    /* width: 80%; */
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 20px;
    flex-grow: 6;
}

.nav-item, .banner-btn, .footer-btn, footer *{
    font-family: 'Baloo Thambi 2', cursive;
    margin-top: 0px;
    /* padding-left: 15px;
    padding-right: 15px; */

}
.nav-item a {
    color: #444444;
    padding-left: 25px;
    padding-right: 25px;
    transition: all 0.2s ease-out;
}

.nav-item a:hover {
    background-color: #dec48a;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

.banner {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner > * {
    padding-top: 10px;
}

.banner-title {
    font-size: 148px;
    margin-top: 96x;
    margin-bottom: 12px;
    color: #fff;
}
.banner-description {
    font-size: 64px;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 0;
    
    color: #fff;
}

.banner-btn, .footer-btn{
    font-size: 36px;
    padding: 5px 30px;
    margin-bottom: 96px;
    background-color: #dec48a;
    border-radius: 35px;
    border: none;
    color: #ffffff;
    opacity: .8;

    transition: all 0.2s ease-out;
}

.banner-btn:hover, .footer-btn:hover {
    box-shadow: 2px 2px #888888;
    opacity: 1;

}

.mainpage-section:nth-child(1) {
    background-image: url(../images/why.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.mainpage-section:nth-child(2) {
    background-image: url(../images/breeds.jpg);
    background-size: cover;
    display: flex;
    align-items: space-around;
}

.mainpage-section:nth-child(3) {
    background-image: url(../images/training.jpg);
    background-size: cover;
    display: flex;
    align-items: space-around;
}
.mainpage-section:nth-child(4) {
    background-image: url(../images/shelter.jpg);
    background-size: cover;
    display: flex;
    align-items: space-around;
}

.mainpage-section {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.sec-left, .sec-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-left > i, .sec-right > i {
    font-size: 328px;
    margin: 150px 0;
}

.mainpage-section:nth-child(even) .sec-left, .mainpage-section:nth-child(odd) .sec-right{
    color: #fff;
    background-color:rgba(222,196,138,0);
    transition: all 0.2s ease-out;
    border-radius: 500px;
}

.mainpage-section:nth-child(even) .sec-left:hover, .mainpage-section:nth-child(odd) .sec-right:hover{
    background-color:rgba(222,196,138,1);
    border-radius: 0%;
}

.mainpage-section h2 {
    margin-top: 96px;
    margin-bottom: 48px;
}

.mainpage-section p {
    margin-top: 0;
}

/* .mainpage-section:nth-child(even) .sec-left *, .mainpage-section:nth-child(odd) .sec-right *{
    color: #fff;
    background-color: #dec48a;
} */

.mainpage-section:nth-child(odd) .sec-left, .mainpage-section:nth-child(even) .sec-right {
    color: #fff;
    transition: all 0.2s ease-out;

}

.mainpage-section:nth-child(odd) .sec-left:hover {
    color: #dec48a;
    transform: rotate3d(1,1,1, -45deg);
    
}

.mainpage-section:nth-child(even) .sec-right:hover {
    color: #dec48a;
    transform: rotate3d(1,1,1, 45deg);
    
}

.sec-left h2, .sec-right h2 {
    font-size: 64px;
    /* margin: 150px 0; */
}

.sec-left p, .sec-right p {
    font-size: 32px;
    padding: 0 100px;
    /* margin: 150px 0; */
}

.footer-section {
    background-image: url(../images/bg-footer.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-description {
    font-size: 72px;
    margin-top: 250px;
    margin-bottom: 64px;
}

.footer-btn {
    margin-bottom: 160px;
}

footer {
    display: flex;
    flex-direction: column;
}
.footer-btns {
    display: flex;
    justify-content: space-around;
}
.footer-btns i {
    margin: 12px 0;
    margin-right: 8px;
    
}
.footer-menu {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0px 0;
}
.footer-item {
    display: flex;
    justify-content: center;
    color: #444444;
    background-color: #ffffff;
}

.footer-item a{
    transition: all 0.4s ease-out;
}

.footer-item.sub a:hover {
    padding: 0px 20%;
    color: #fff;
    background-color: #dec48a;

}

.footer-item.head {
    font-size: 24px;
}

#cprt {
    /* width: 100%; */
    color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 760px)  {
    .mainpage-section:nth-child(odd) .sec-left, .mainpage-section:nth-child(even) .sec-right {
        display: none;
    }

    .mainpage-section {
        justify-content: space-around;
    }
    .mainpage-section:nth-child(even) .sec-left, .mainpage-section:nth-child(odd) .sec-right {
        width: 100%;
    }
    .mainpage-section p {
        margin-bottom: 150px;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    #navbar {
        flex-direction: column;
        align-items: center;
    }
    .nav-item a:hover {
        background-color: #dec48a;
        padding: 0 180px;
        color: #fff;
    }

    .footer-description {
        font-size: 36px;
        margin-top: 250px;
        margin-bottom: 64px;
    }
    .footer-item.head {
        font-size: 28px;
    }
    .footer-menu {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        margin: 0px 0;
    }

    .banner-title {
        font-size: 96px;
        margin-top: 96x;
        margin-bottom: 12px;
        color: #fff;
    }
    .banner-description {
        font-size: 32px;
        margin-top: 0px;
        margin-bottom: 40px;
        padding-top: 0;
        
        color: #fff;
    }
    .footer-btns {
        flex-direction: column;
    }
}