@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@400;600&family=Raleway:wght@400;700&family=Roboto+Condensed&display=swap");

body,
html,
#main {
  font-family: "Roboto", sans-serif;
  // background: linear-gradient(to bottom, #B2DFDB 0%,#009688 40%,#00796B 100%);
  height: 100%;
  display: flex;
  // width: 100%;
  flex: 1;
  flex-direction: column;
  // background-color: rgba(30, 29, 69, .6);
  // background-color: #100d23;
  margin: 0px;
}

#subme {
  // background-color: rgba(0, 0, 0, 0.2);
  // padding: 5px;
  width: 160px;
  height: 50px;
  border-radius: 15px;
}

.logo {
  background-image: url("img/774(2).png");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.active {
  color: pink;
}

$navbar-padding-vertial: 1.5em;
.navbar {
  // background: linear-gradient(to bottom, #b2dfdb 0%, #009688 40%, #00796b 100%);
  display: flex;
  justify-content: flex-end;
  // padding: $navbar-padding-vertial 0px $navbar-padding-vertial 0;
  // flex-direction: row;
  // width: 100%;
  flex: 1;
  // box-shadow: 0 2px 4px rgba(68, 68, 68, 0.6);
  box-shadow: 0 2px 6px rgba(1, 255, 106, 0.15);
  position: sticky;
  top: 0;
  background-color: #100d23;
  z-index: 20;
}

.navbar-right {
  // background: linear-gradient(to bottom, #b2dfdb 0%, #ff21ee 40%, #00796b 100%);
  display: flex;
  // align-self: flex-end;
  // flex-direction: row;
}
